# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
poisson_3d

# CMake build artifacts and directories
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt

# IDE configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Simulation Output Data (Keep your repository clean of large mesh files)
*.vtu
*.pvtu
*.vtk

# Build directories
build/